doctype html
html(lang="en")
  head
    title Monitor
    link(rel='stylesheet', href='stylesheets/global.css')
  body
    .content
      p Will finish this eventually.

    script(src='behaviors/jquery-2.1.1.js')
    script(src='behaviors/handlebars-v1.3.0.js')
    script(src='behaviors/engine.io-client/engine.io.js')
    script(src='behaviors/global.js')
